body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1718px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:731px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:8px;
  width:1700px;
  height:731px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:1589px;
  top:489px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:1589px;
  top:567px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:1589px;
  top:648px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:1589px;
  top:730px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:319px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:822px;
  width:759px;
  height:319px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:755px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:880px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
