body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1702px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1682px;
  height:700px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:1682px;
  height:700px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:1678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:1590px;
  top:477px;
  width:80px;
  height:20px;
  font-size:16px;
  color:#169BD5;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:1580px;
  top:581px;
  width:80px;
  height:20px;
  font-size:16px;
  color:#169BD5;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:1590px;
  top:686px;
  width:80px;
  height:20px;
  font-size:16px;
  color:#169BD5;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:746px;
  width:300px;
  height:220px;
  font-size:18px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:384px;
  width:20px;
  height:125px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
